# Get tool versions from package.json
export GO_VERSION=`jq '.engines.go' package.json | tr -d '"'`
export NODE_VERSION=`jq '.engines.node' package.json | tr -d '"'`
export YARN_VERSION=`jq '.engines.yarn' package.json | tr -d '"'`

# Add go to PATH and configure GOROOT.
export GOROOT=$(pwd)/opt/go$GO_VERSION
export PATH=$GOROOT/bin:$PATH

# Configure GOPATH and add to PATH.
export GOPATH=$(pwd)/go
export PATH=$GOPATH/bin:$PATH

# Configure GOBIN
export GOBIN=$GOPATH/bin

# Add node to path.
export PATH=$(pwd)/opt/node$NODE_VERSION/bin:$PATH

# Add bin path.
export PATH=$(pwd)/bin:$PATH
